# Practice | Python Exercises

This notebook contains a series of exercises to practice Python lists, dictionaries, tuples, and sets.

### Exercise 1: Reverse a List
Write a program to reverse the following list.

In [2]:
example_list = [10, 20, 30, 40, 50]

example_list.reverse()

example_list
# Your code here

[50, 40, 30, 20, 10]

### Exercise 2: Merge Two Lists
Create two lists and merge them into a new list such that the elements of both lists alternate.

In [8]:
list1 = ["A", "B", "C"]
list2 = ["D", "E", "F"]
list1.extend(list2)
print(list1)

['A', 'B', 'C', 'D', 'E', 'F']

### Exercise 3: Square Each Element
Given a list of integers, return a new list containing the squares of each number.

In [12]:
numbers = [1, 2, 3, 4, 5]

square_nums = [
    numbers[0] ** 2,  # 1 ** 2 = 1
    numbers[1] ** 2,  # 2 ** 2 = 4  
    numbers[2] ** 2,  # 3 ** 2 = 9
    numbers[3] ** 2,  # 4 ** 2 = 16
    numbers[4] ** 2   # 5 ** 2 = 25
]

print(square_nums)

[1, 4, 9, 16, 25]

### Exercise 4: Concatenate Lists
Concatenate two lists in the following order: `["Hello ", "World "]` and `["Python", "Programming"]`.

In [9]:
list1 = ["Hello ", "World "]
list2 = ["Python", "Programming"]

list3 = list1 + list2

list3

['Hello ', 'World ', 'Python', 'Programming']

### Exercise 5: Iterate Over Two Lists Simultaneously
Given two lists, print elements from the first list in original order and elements from the second list in reverse order.

In [14]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]

list3 = list1.copy() + list2.reverse()

TypeError: can only concatenate list (not "NoneType") to list

### Exercise 6: Remove Empty Strings
From the following list of strings, remove all empty strings.

In [23]:
string_list = ["Alice", "", "Bob", "", "Charlie"]
string_list.remove("")
string_list.remove("")
string_list

['Alice', 'Bob', 'Charlie']

### Exercise 7: Insert Item After Specified Item
Add the item `9000` after `8000` in the following list.

In [24]:
nested_list = [1000, 2000, [3000, 4000, [5000, 6000], 7000], 8000]
nested_list.append(9000)
nested_list
# Your code here

[1000, 2000, [3000, 4000, [5000, 6000], 7000], 8000, 9000]

### Exercise 8: Extend Nested List 
Extend the nested list by adding `["x", "y", "z"]` to it.

In [31]:
nested_list = ["p", "q", ["r", ["s", "t"], "u"], "v"]
nested_list.extend("x")
nested_list.extend("y")
nested_list.extend("z")
nested_list
# Your code here

['p', 'q', ['r', ['s', 't'], 'u'], 'v', 'x', 'y', 'z']

### Exercise 9: Replace First Occurrence 
Replace the first occurrence of `15` with `150` in the following list.

In [34]:
list1 = [5, 10, 15, 20, 15]
list1[0] = 150
list1

[150, 10, 15, 20, 15]

### Exercise 10: Remove All Occurrences 
Remove all occurrences of `25` from the following list.

In [ ]:
list2 = [5, 25, 15, 25, 35]
# Your code here

## Python Dictionary Exercises

### Exercise 11: Merge Two Dictionaries 
Merge two dictionaries into one.

In [35]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

### Exercise 12: Count Character Frequency 
Count the frequency of each character in a string and store it in a dictionary.

In [ ]:
input_string = "hello world"

### Exercise 13: Get Keys as List 
Given a dictionary, return its keys as a list.

In [37]:
dict_1 = {'name': 'Alice', 'age': 25}
dict_1.keys()

dict_keys(['name', 'age'])

### Exercise 14: Update Dictionary Value 
Update the value associated with key `'age'` to `30`.

In [38]:
person_info = {'name': 'John', 'age': 25}
person_info['age'] = 30
person_info

{'name': 'John', 'age': 30}

### Exercise 15: Remove Key from Dictionary
Remove key `'city'` from the following dictionary if it exists.

In [ ]:
del location_info['city']
location_info

In [48]:
location_info = {'country': 'USA', 'city': 'New York'}
del location_info['city']
location_info

{'country': 'USA'}

## Python Tuple Exercises

### Exercise 16: Convert List to Tuple 
Convert the given list to a tuple.

In [51]:
list3 = [1, 2, 3]
tup = tuple(list3)
tup

(1, 2, 3)

### Exercise 17: Count Occurrences in Tuple 
Count how many times `2` appears in the following tuple.

In [52]:
tuple1 = (1, 2, 3, 2)
x = tuple1.count(2)
x

2

### Exercise 18: Find Index of Element 
Find the index of element `5` in the following tuple.

In [57]:
tuple2 = (10, 20, 30, 5)
indextup = tuple2.index(5)
indextup
# Your code here

3

### Exercise 19: Unpack Tuple 
Unpack values from a tuple into separate variables.

In [59]:
tuple3 = (100, 'Hello', True)
x, y, z = tuple3
print(x)
print(y)
print(z)
# Your code here to unpack values into variables x, y and z.

100
Hello
True

### Exercise 20: Create Tuple with Single Element 
Create a tuple that contains only one element `42`.

In [61]:
x = (42)

## Python Set Exercises

### Exercise 21: Create Set from List 
Create a set from the following list to remove duplicates.

In [63]:
list4 = [1, 2, 2, 3]
set1 = set(list4)
set1
# Your code here to create a set.

{1, 2, 3}

### Exercise 22: Union of Two Sets 
Find the union of two sets.

In [64]:
set1 = {1, 2}
set2 = {2, 3}

union = set1 | set2
print(union)
# Your code here to find union.

{1, 2, 3}

### Exercise 23: Intersection of Two Sets 
Find the intersection of two sets.

In [65]:
set1 = {1, 2}
set2 = {2, 3}
intersection = set1 & set2
print(intersection)

{2}

### Exercise 24: Difference Between Sets 
Find elements present in set1 but not in set2.

In [66]:
set1 = {1, 2}
set2 = {2, 3}
difference = set1 - set2
print(difference)  # output: {1, 2}

{1}

### Exercise 25: Check Subset 
Check if set1 is a subset of set2.

In [67]:
set1 = {1}
set2 = {1, 2}
print(set1.issubset(set2))

True

## Additional Exercises


### Exercise 26: Flatten a Nested List 
Flatten the following nested list into a single list.

In [ ]:
nested_list = [, , ]
# Your code here to flatten the nested list.

### Exercise 27: Find Maximum Value in List 
Find the maximum value in a given list of numbers.

In [ ]:
numbers_list = [10, -20, -30]
# Your code here to find maximum value.

### Exercise 28: Check for Palindrome 
Check if a given string is a palindrome using lists.

In [ ]:
input_string = "radar"
# Your code here to check for palindrome.

### Exercise 29: Rotate List Elements 
Rotate elements in the given list by one position to the right.

In [ ]:
numbers_list = [1, 2, 3]
# Your code here to rotate elements.

### Exercise 30: Count Vowels in String 
Count vowels in a given string using lists.

In [ ]:
input_string = "Hello World"
# Your code here to count vowels.