# Practice | Python Exercises

This notebook contains a series of exercises to practice Python lists, dictionaries, tuples, and sets.

### Exercise 1: Reverse a List
Write a program to reverse the following list.

In [ ]:
example_list = [10, 20, 30, 40, 50]
# Your code here

### Exercise 2: Merge Two Lists
Create two lists and merge them into a new list such that the elements of both lists alternate.

In [ ]:
list1 = ["A", "B", "C"]
list2 = ["D", "E", "F"]
# Your code here

### Exercise 3: Square Each Element
Given a list of integers, return a new list containing the squares of each number.

In [ ]:
numbers = [1, 2, 3, 4, 5]
# Your code here

### Exercise 4: Concatenate Lists
Concatenate two lists in the following order: `["Hello ", "World "]` and `["Python", "Programming"]`.

In [ ]:
list1 = ["Hello ", "World "]
list2 = ["Python", "Programming"]
# Your code here

### Exercise 5: Iterate Over Two Lists Simultaneously
Given two lists, print elements from the first list in original order and elements from the second list in reverse order.

In [ ]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
# Your code here

### Exercise 6: Remove Empty Strings
From the following list of strings, remove all empty strings.

In [ ]:
string_list = ["Alice", "", "Bob", "", "Charlie"]
# Your code here

### Exercise 7: Insert Item After Specified Item
Add the item `9000` after `8000` in the following list.

In [ ]:
nested_list = [1000, 2000, [3000, 4000, [5000, 6000], 7000], 8000]
# Your code here

### Exercise 8: Extend Nested List 
Extend the nested list by adding `["x", "y", "z"]` to it.

In [ ]:
nested_list = ["p", "q", ["r", ["s", "t"], "u"], "v"]
# Your code here

### Exercise 9: Replace First Occurrence 
Replace the first occurrence of `15` with `150` in the following list.

In [ ]:
list1 = [5, 10, 15, 20, 15]
# Your code here

### Exercise 10: Remove All Occurrences 
Remove all occurrences of `25` from the following list.

In [ ]:
list2 = [5, 25, 15, 25, 35]
# Your code here

## Python Dictionary Exercises

### Exercise 11: Merge Two Dictionaries 
Merge two dictionaries into one.

In [ ]:
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
# Your code here

### Exercise 12: Count Character Frequency 
Count the frequency of each character in a string and store it in a dictionary.

In [ ]:
input_string = "hello world"
# Your code here

### Exercise 13: Get Keys as List 
Given a dictionary, return its keys as a list.

In [ ]:
dict_1 = {'name': 'Alice', 'age': 25}
# Your code here

### Exercise 14: Update Dictionary Value 
Update the value associated with key `'age'` to `30`.

In [ ]:
person_info = {'name': 'John', 'age': 25}
# Your code here

### Exercise 15: Remove Key from Dictionary
Remove key `'city'` from the following dictionary if it exists.

In [ ]:
location_info = {'country': 'USA', 'city': 'New York'}
# Your code here

## Python Tuple Exercises

### Exercise 16: Convert List to Tuple 
Convert the given list to a tuple.

In [ ]:
list3 = [1, 2, 3]
# Your code here

### Exercise 17: Count Occurrences in Tuple 
Count how many times `2` appears in the following tuple.

In [ ]:
tuple1 = (1, 2, 3, 2)
# Your code here

### Exercise 18: Find Index of Element 
Find the index of element `5` in the following tuple.

In [ ]:
tuple2 = (10, 20, 30, 5)
# Your code here

### Exercise 19: Unpack Tuple 
Unpack values from a tuple into separate variables.

In [ ]:
tuple3 = (100, 'Hello', True)
# Your code here to unpack values into variables x, y and z.

### Exercise 20: Create Tuple with Single Element 
Create a tuple that contains only one element `42`.

In [ ]:
# Your code here to create a tuple with one element.

## Python Set Exercises

### Exercise 21: Create Set from List 
Create a set from the following list to remove duplicates.

In [ ]:
list4 = [1, 2, 2, 3]
# Your code here to create a set.

### Exercise 22: Union of Two Sets 
Find the union of two sets.

In [ ]:
set1 = {1, 2}
set2 = {2, 3}
# Your code here to find union.

### Exercise 23: Intersection of Two Sets 
Find the intersection of two sets.

In [ ]:
set1 = {1, 2}
set2 = {2, 3}
# Your code here to find intersection.

### Exercise 24: Difference Between Sets 
Find elements present in set1 but not in set2.

In [ ]:
set1 = {1, 2}
set2 = {2, 3}
# Your code here to find difference.

### Exercise 25: Check Subset 
Check if set1 is a subset of set2.

In [ ]:
set1 = {1}
set2 = {1, 2}
# Your code here to check subset.

## Additional Exercises


### Exercise 26: Flatten a Nested List 
Flatten the following nested list into a single list.

In [ ]:
nested_list = [, , ]
# Your code here to flatten the nested list.

### Exercise 27: Find Maximum Value in List 
Find the maximum value in a given list of numbers.

In [ ]:
numbers_list = [10, -20, -30]
# Your code here to find maximum value.

### Exercise 28: Check for Palindrome 
Check if a given string is a palindrome using lists.

In [ ]:
input_string = "radar"
# Your code here to check for palindrome.

### Exercise 29: Rotate List Elements 
Rotate elements in the given list by one position to the right.

In [ ]:
numbers_list = [1, 2, 3]
# Your code here to rotate elements.

### Exercise 30: Count Vowels in String 
Count vowels in a given string using lists.

In [ ]:
input_string = "Hello World"
# Your code here to count vowels.